.announcement-board-wrapper {
    height: auto; /* Adjust to fit the content */
    background: #f8f9fa;
    border-radius: 8px;
    padding: 0.3em;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center; /* Center-align the text */
    max-width: 1000px;
    margin: 0 auto; /* Center alignment on the page */
}

.announcement-content {
    white-space: normal; /* Allow line wrapping */
    text-align: center; /* Center-align the text */
}

.text {
    display: inline-block;
}

